body {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
   color: #FFFFFF;	   

}

a{
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #F15B31;
	letter-spacing: 1px;
	font-size: 18px;
	text-decoration:  none;	
	margin: 0px 20px ;
	color: #FFFFFF;	   
	border-bottom: 2px solid transparent;
}
a:hover {
	border-bottom: 2px solid white;
}
h2{
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #0D2C40;
	letter-spacing: 1px;
	font-size: 20px;

}

p {
	font-family: "Droid Serif", serif;
}
header {

	background-color : #F15B31;
	padding : 30px 20px;
}
nav{
	background-color : #00A6B3;
    padding: 20px 0px;
}
main {
	width:850px;
	margin: 35px auto;
}
img {
	margin : 40px 0px  8px 8px;
}
footer{
	text-transform: uppercase;
	padding: 0px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500px;
}

footer p {
	font-family: "Raleway", sans-serif;
}
.copyright{
	float: left;
}
.message{
	float: right;

}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name{
	color:#F15B31;
	font-weight: 700px;
}